*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('plane1.jpg'); /* Ensure you have this image in your project */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    height: 520px;
    width: 400px;
    background-color: #1E1714;
    position: relative;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    /* border: 2px solid rgba(255, 255, 255, 0.1); */
    /* box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);  */
    padding: 50px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form * {
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

::placeholder {
    color: #e5e5e5;
}

button {
    margin-top: 30px;
    width: 100%;
    background-color: #fff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.home_button {
    /* Add your styles here */
    margin-top: 30px;
    width: 100%;
    background-color: #BA815E;
    color: #fff;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
h1 {
    font-size: 7em;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 40px;
    text-align: center;
}

nav {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.13);
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffd700;
}

.footer {
    width: 100%;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 3px;
}

a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #ffd700;
}

.result-container {
    width: 100%;
    margin-top: 20px;
}

.flight-info {
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons a {
    margin: 0 10px;
}

.social-icon svg {
    fill: #fff;
    transition: fill 0.3s ease;
}

.social-icon:hover svg {
    fill: #ffd700;
}

